tempmedium_E_example.tsv
/modelos_curados
diferencia metabs c_e y reacs exchange.ods
CAFBA_pseudo_solo_time
CAFBA_pseudo_solo
CAFBA*
20210421_ratio_calculator_EXCLUDING_GLCDe_and_GLCDpp.py
20210421_ratio_calculator3_failed_parallel.py
20210421_ratio_calculator2_for_specific_files.py
20210421_ratio_calculator4_easy_parallel.py
220321_spent_media.py
220321_spent_media_solucion.py
results*
