/home/silvia/AAA/2021-03-22_spent_medium/tempmedium_E_example.tsv
/home/silvia/AAA/2021-03-22_spent_medium/modelos_curados
/home/silvia/AAA/2021-03-22_spent_medium/diferencia metabs c_e y reacs exchange.ods
/home/silvia/AAA/2021-03-22_spent_medium/CAFBA_pseudo_solo_time
/home/silvia/AAA/2021-03-22_spent_medium/CAFBA_pseudo_solo
/home/silvia/AAA/2021-03-22_spent_medium/20210421_ratio_calculator_EXCLUDING_GLCDe_and_GLCDpp.py
/home/silvia/AAA/2021-03-22_spent_medium/20210421_ratio_calculator3_failed_parallel.py
/home/silvia/AAA/2021-03-22_spent_medium/20210421_ratio_calculator2_for_specific_files.py

